@import "reset.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    overflow:hidden;
    display: block;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    touch-action: none;
}

#loadingText {
    color:white;
    font-weight: bold;
    font-size: 2rem;
}

.hidden {
    display: none;
}